<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.espid.estimate.user.mapper.UserEstimateMapper">

    <!-- Tool & Price -->
    <resultMap id="toolResultMap" type="com.espid.estimate.user.model.ToolModel">
        <result property="toolId" column="tool_id"/>
        <result property="toolName" column="tool_name"/>
        <result property="toolModelNumber" column="tool_model_number"/>
        <result property="toolLicense" column="tool_license"/>
        <result property="venderId" column="vender_id"/>
        <result property="toolDetails" column="tool_details"/>
        <collection property="priceList" javaType="java.util.ArrayList" ofType="com.espid.estimate.user.model.PriceModel">
            <id property="priceId" column="price_id"/>
            <result property="eur" column="eur"/>
            <result property="exchangeRate" column="exchange_rate"/>
            <result property="krw" column="krw"/>
            <result property="toolId" column="tool_id"/>
            <result property="quantity" column="quantity"/>
        </collection>
    </resultMap>

    <!-- Estimate & EstimateDetail -->
    <resultMap id="estimateResultMap" type="com.espid.estimate.user.model.EstimateModel">
        <result property="estimateId" column="estimate_id"/>
        <result property="title" column="title"/>
        <result property="estimatePrice" column="estimate_price"/>
        <result property="estimateOriginPrice" column="estimate_origin_price"/>
        <result property="spidId" column="spid_id"/>
        <result property="estimateDate" column="estimate_date"/>
        <result property="estimateNote" column="estimate_note"/>
        <result property="customerId" column="customer_id"/>
        <collection property="estimateDetailModels" javaType="java.util.ArrayList" ofType="com.espid.estimate.user.model.EstimateDetailModel">
            <id property="estimateDetailId" column="estimate_detail_id"/>
            <result property="estimateDetailId" column="estimate_detail_id"/>
            <result property="estimateDetails" column="estimate_details"/>
            <result property="quantity" column="quantity"/>
            <result property="unit" column="unit"/>
            <result property="unitPrice" column="unit_price"/>
            <result property="supplyPrice" column="supply_price"/>
            <result property="estimateId" column="estimate_id"/>
            <result property="discountRate" column="discount_rate"/>
            <result property="startMaintenance" column="start_maintenance"/>
            <result property="endMaintenance" column="end_maintenance"/>
            <result property="toolName" column="tool_name"/>
            <result property="toolLicense" column="tool_license"/>
        </collection>
    </resultMap>

    <select id="selectSenderByName" resultType="com.espid.estimate.user.model.SenderModel">
        SELECT 
              spid_id
            , spid_dept
            , spid_name
            , spid_tel1
            , spid_tel2
            , spid_email
            , job
        FROM
            sender
        WHERE
            spid_name = #{senderName}
    </select>

    <select id="selectVenderBySenderId" resultType="com.espid.estimate.user.model.VenderModel">
        SELECT
              vender_id
            , vender_name
            , spid_id
        FROM
            vender
        WHERE 
            spid_id = #{senderId}
    </select>

    <!-- NEW 2019-04-22 -->
    <select id="getToolListByVenderId" resultMap="toolResultMap">
        SELECT
              tool.tool_id
            , tool_name
            , tool_model_number
            , tool_license
            , tool_details
            , vender_id
            , price_id
            , eur
            , exchange_rate
            , krw
            , quantity
        FROM
            tool LEFT OUTER JOIN price ON tool.tool_id = price.tool_id
        WHERE 
            vender_id = #{venderId}
    </select>

    <select id="getPriceListByToolId" resultType="com.espid.estimate.user.model.PriceModel">
        SELECT
              price_id
            , eur
            , exchange_rate
            , krw
            , tool_id
            , quantity
        FROM
            price
        WHERE
            tool_id = #{toolId}
        ORDER BY
            quantity ASC
    </select>

    <insert id="saveEstimate" parameterType="com.espid.estimate.user.model.EstimateModel" keyColumn="estimateId" keyProperty="estimateId" useGeneratedKeys="true">
        INSERT INTO
            estimate (
                  estimate_id
                , title
                , estimate_price
                , estimate_origin_price
                , spid_id
                , estimate_date
                , estimate_note
                , customer_id
            )
        VALUES (
              #{estimateId}
            , #{title}
            , #{estimatePrice}
            , #{estimateOriginPrice}
            , #{spidId}
            , #{estimateDate}
            , #{estimateNote}
            , #{customerId}
        )
    </insert>

    <insert id="saveEstimateDetail" parameterType="com.espid.estimate.user.model.EstimateDetailModel" keyColumn="estimateDetailId" keyProperty="estimateDetailId" useGeneratedKeys="true">
        INSERT INTO
            estimate_detail (
                  estimate_detail_id
                , estimate_details
                , quantity
                , unit
                , unit_price
                , supply_price
                , estimate_id
                , discount_rate
                , start_maintenance
                , end_maintenance
                , tool_license
                , tool_name
            )
        VALUES 
        <foreach collection="list" item="item" separator=",">
            (
                  #{item.estimateDetailId}
                , #{item.estimateDetails}
                , #{item.quantity}
                , #{item.unit}
                , #{item.unitPrice}
                , #{item.supplyPrice}
                , #{item.estimateId}
                , #{item.discountRate}
                , #{item.startMaintenance}
                , #{item.endMaintenance}
                , #{item.toolLicense}
                , #{item.toolName}
            )
        </foreach> 
    </insert>

    <select id="selectCustomers" resultType="com.espid.estimate.user.model.CustomerModel" parameterType="com.espid.estimate.user.model.ToolNameAndLicense">
        SELECT
              customer_id
            , customer_company
            , customer_name
            , customer_tel
            , customer_email
        FROM
            customer
        <if test="search != null">
        WHERE
               customer_company LIKE CONCAT('%', #{search}, '%')
            OR customer_name LIKE CONCAT('%', #{search}, '%')
        </if>
    </select>

    <insert id="insertcustomer" parameterType="com.espid.estimate.user.model.CustomerModel" keyColumn="customerId" keyProperty="customerId" useGeneratedKeys="true">
        INSERT INTO
            customer (
                  customer_id
                , customer_company
                , customer_name
                , customer_tel
                , customer_email    
            )
        VALUES ( 
              #{customerId}
            , #{customerCompany}
            , #{customerName}
            , #{customerTel}
            , #{customerEmail}
        )
    </insert>
    
    <select id="selectEstimateByCustomerId" resultMap="estimateResultMap" parameterType="com.espid.estimate.user.model.ToolNameAndLicense">
        SELECT
              estimate.estimate_id
            , title
            , estimate_price
            , estimate_origin_price
            , spid_id
            , estimate_date
            , estimate_note
            , customer_id
            , estimate_detail_id
            , estimate_details
            , quantity
            , unit
            , unit_price
            , supply_price
            , discount_rate
            , start_maintenance
            , end_maintenance
            , tool_name
            , tool_license
        FROM
            estimate, estimate_detail
        WHERE
                estimate.estimate_id = estimate_detail.estimate_id
            AND customer_id = #{customerId} 
            AND (
            <foreach item="item" collection="list" separator="OR" open="(" close=")">
                tool_name LIKE CONCAT(#{item.toolName}, '%') AND tool_license = #{item.toolLicense}
            </foreach>
            )
    </select>
</mapper>